
form{
    padding:13px;
}
.btn-group{
            width: 102%;
    height: 55px;
    margin-top: 21px !important;
    margin-bottom: 32px;
    margin-right: 2px;
    min-width: 28px;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
    -webkit-box-pack: start;
    place-content: normal flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-top: -8px;
    margin-left: -8px;
    justify-content: flex-start;
}
.btn-secondary{
    min-width: 0px;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    place-content: normal flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    align-self: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size:13px !important;
}

.btn-secondary > * {
    font-size: 13px;
    margin-left: 8px;
    margin-top: 8px;
}

  button{
    display: inline-block;
    vertical-align: top;
    padding: 2px 10px;
    border: 1px solid #bcc4cc;
    background: #bcc4cc;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 0.15s ease-out, background 0.15s ease-out, border-color 0.15s ease-out;
    transition: color 0.15s ease-out, background 0.15s ease-out, border-color 0.15s ease-out;
}
#not_important{
    background: none;
    border-color: #e1e6ea;
    color: #bcc4cc;
}
#nice_to_have{
    background: none;
    border-color: #e1e6ea;
    color: #bcc4cc;
}
#important{
    background: none;
    border-color: #e1e6ea;
    color: #bcc4cc;
}
#critical{
    background: none;
    border-color: #e1e6ea;
    color: #bcc4cc;
}
#not_important.hovered{
    background: rgb(94, 194, 0);
 border-color: rgb(94, 194, 0);
}
#not_important:hover{
    background: rgb(94, 194, 0);
 border-color: rgb(94, 194, 0);
}
#nice_to_have.hovered{
    background: rgb(38, 147, 255);
    border-color: rgb(38, 147, 255);
}
 #nice_to_have:hover{
    background: rgb(38, 147, 255);
    border-color: rgb(38, 147, 255);
}
#important:hover{
    background: rgb(255, 198, 0);
     border-color: rgb(255, 198, 0);
}
#important.hovered{
    background: rgb(255, 198, 0);
     border-color: rgb(255, 198, 0);
}
#critical:hover{
    background: rgb(255, 31, 31);
    border-color: rgb(255, 31, 31);
    color: rgb(255, 255, 255);
    cursor: default;
}
#critical.hovered{
    background: rgb(255, 31, 31);
    border-color: rgb(255, 31, 31);
    color: rgb(255, 255, 255);
    cursor: default;
}

.btn-primary{
top: 13px;
position: relative;
}
.admin-blog-sidebar-usage-container .title-section {
    display: flex;
    align-items: center;
}

.admin-blog-sidebar-usage-container .title-section h1 {
    margin-right: 20px;
}

.admin-blog-sidebar-usage-container table {
    text-align: center;
    border-collapse: collapse;
    margin-top: 35px;
}

.admin-blog-sidebar-usage-container table thead th {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    border: 1px solid #d3d5da;
}

.admin-blog-sidebar-usage-container table tbody td {
    font-weight: 700;
    font-size: 14px;
    padding: 20px;
    border: 1px solid #d3d5da;
}

.admin-blog-sidebar-usage-container table tbody td {
    color: #2271b1;
}

.admin-blog-sidebar-usage-container table thead th.border-right,
.admin-blog-sidebar-usage-container table tbody td.border-right {
    border-right: 1px solid #d3d5da;
}